/* Responsividade */
@media screen and (max-width: 768px) {
    .container {
        height: auto;
        padding: 40px 20px;
        border-radius: 0;
    }

    .profile-picture {
        width: 150px;
        height: 150px;
        transform: translateY(-10px); /* Ajuste o efeito de sobreposição para telas menores */
    }

    h1 {
        font-size: 26px;
    }

    p {
        font-size: 14px;
    }

    .whatsapp-button {
        font-size: 14px;
        padding: 10px 25px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 20px 10px;
    }

    .profile-picture {
        width: 130px;
        height: 130px;
        transform: translateY(-5px); /* Ajuste o efeito de sobreposição para telas menores */
    }

    h1 {
        font-size: 22px;
    }

    p {
        font-size: 12px;
    }

    .whatsapp-button {
        font-size: 12px;
        padding: 8px 20px;
    }
}
